.toast-success {
  background-color: #4caf50 !important;
  color: white !important;
  text-align: center;
}

.toast-error {
  background-color: #e04846 !important;
  color: white !important;
  text-align: center;
}
